@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
    margin: 0%;
}

body{
    font-family: 'Electrolize', sans-serif;
    background-color: black;
}

.container{
    background-color: black;
    color: aliceblue;
}


.navbar{
    position: sticky;
    top: 0;
    background-color: black;
    height: 60px;
    color: antiquewhite;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.logo{
    color: red;
}

.menu-list{
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding: 0;
}

.menu-list-item:hover{
    font-weight: bold;
}

.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.p-t-c{
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1;
}

.toggle{
    width: 40px;
    background-color: white;
    height: 20px;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toggle-icon{
    color: goldenrod;
}

.t-b{
    width: 18px;
    height: 18px;
    background-color: black;border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

.sidebar{
    background-color: black;
    height: 100%;
    color: aliceblue;
    width: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    row-gap: 40px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.sidebar i{
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

.n-l-c{
    background-color: black;
    color: aliceblue;
    position: relative;
}

.m-l-t{
    margin-top: 20px;
    margin-left: 70px;
}

.m-l-to{
    margin-top: 20px;
    margin-left: 70px;
}

.m-l{
    display: flex;
    align-items: center;
    background-color: black;
    list-style: none;
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s ease ease-in-out;
}

.m-l-i img{
    height: 275px;
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
}

.m-l-io img{
    height: 200px;
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
}

.arrow{
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 150px;
    opacity: 0.5;
    transition: 0.5s ease all;
    cursor: pointer;
}

.arrow:hover{
    opacity: 1;
}
